@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@300&display=swap');

@font-face {
    font-family: 'Noto Sans Mono', monospace;
    src: url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@300&display=swap');
    font-weight: none;
}

*{
    margin: 0;
    padding: 0;
    
}
:root{
    --escuro0: #0E1A4B;
    --escuro1:#162975;
    --medio0:#2240B5;
    --medio1:#2A4DDB;
    --claro0:#2F56F5;
}
body{
font-family: 'Noto Sans Mono', monospace;
}

header{
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 999;
    width: 100%;
    background-color: var(--escuro1);
}
header h1,h2{
    margin-bottom: 3px;
    padding: 6px 3px 2.5px 3px;
    text-align: center;
    font-size: 1.3em;
    color: white;
}
main{
    background-color: whitesmoke;
}

main .secao{
    min-width: 380px;
    padding: 30px;
}
main #inicio{
    height: 335px;
    margin-top: 30px;
    padding: 0px;
    background-image: linear-gradient(to bottom, var(--claro0), var(--medio1));
}
#left{
    display: inline-block;
    width: 600px;
    margin-top: 5px;
    margin-left: 10px;
    padding: 10px;
}

#inicio h1{
    margin-bottom: 15px;
    font-size: 2.2em;
    color: var(--escuro0);
    font-weight: bolder;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.116);
}
#inicio strong{
    color: var(--escuro0);
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.164);
}
#inicio #apresentacao{
    margin-bottom: 20px;
    max-width: 600px;
    min-width: 380px;
    font-size: 1.5em;

    text-align: justify;
    color: white;
}
#inicio #code{
    text-align: justify;
    max-width: 600px;
    min-width: 380px;
    font-size: 1.5em;
    color: white;
}
#right{
    float: right;
    width: 500px;
    height: 334px;
    margin-top: 5px;
    text-align: right;
    background-image: url(background_perfil.png);
    background-repeat: no-repeat;
}
#img_perfil{
    margin-top: 20px;
    margin-right: 20px;
}
ul{
    margin-top: 10px;
    margin-right: 52px ;
}

a.contato{
    text-decoration: none;
    font-size: 1.3em;
    color: var(--claro0);
}
a.contato:hover{
    color: var(--escuro0);
}
li{
    margin-bottom: 10px;
    list-style: none;
}

main #meio{
    width: 600px;
    margin: auto;
    padding-bottom: 0px;
}

main #meio >h2{
    font-weight: bold;
    font-size: 2em;
    color: var(--escuro1);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.247);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background-image: linear-gradient(to right, #3058faef 1%, whitesmoke);
}
main #meio ul{
    margin-bottom: 20px;
}
main #meio li{
    padding: 5px;
    text-align: center;
    list-style: none;
    list-style-position: inside;
    font-size: 1.5em;
    font-weight: bolder;
    
}

footer{
    background-color: var(--escuro0);
}
footer p{
    padding: 5px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    color: white;
}
footer strong{
    color: var(--claro0);
    font-weight: bolder;
}
