@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@300&display=swap');

@font-face {
    font-family: 'Noto Sans Mono', monospace;
    src: url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@300&display=swap');
    font-weight: none;
}


*{
    margin: 0;
    padding: 0;
    
}
:root{
    --escuro0: #0E1A4B;
    --escuro1:#162975;
    --medio0:#2240B5;
    --medio1:#2A4DDB;
    --claro0:#2F56F5;
}

body{
font-family: 'Noto Sans Mono', monospace;
background-color: whitesmoke;
}


header{
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 999;
    width: 100%;
    background-color: var(--escuro1);
}
header h1{
    margin-bottom: 3px;
    padding: 6px 3px 2.5px 3px;
    text-align: center;
    font-size: 1.2em;
    color: white;
}


main{
    min-width: 380px;
    text-align: center;
    background-color: whitesmoke;
}
main .secao{
    padding: 15px;
}


main #inicio{
    min-width: 380px;
    margin-top: 42px;
    text-align: center;
    background-image: linear-gradient(to bottom, var(--claro0), var(--medio1));
}
#inicio h1{
    padding: 10px;
    font-size: 3em;
    color: var(--escuro0);
    font-weight: bolder;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.116);
}
#inicio strong{
    color: var(--escuro0);
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.164);
}
#inicio #apresentacao{
    max-width: 500px;
    min-width: 350px;
    margin: auto;
    padding: 20px;
    text-align:justify;
    font-size: 1.3em;
    color: white;
}
#inicio #code{
    max-width: 500px;
    min-width: 350px;
    margin: auto;
    padding: 10px;
    text-align: center;
    font-size: 1.5em;
    color: white;
}


#img_perfil{
    margin-top: 30px;
}


#inicio ul{
    margin-top: 10px;
}
li{
    margin-bottom: 10px;
    list-style: none;
}
a.contato{
    text-decoration: none;
    font-size: 1.3em;
    color: black;
}
a.contato:hover{
    color: whitesmoke;
}


main #meio{
    max-width: 800px;
    min-width: 380px;
    margin: auto;
    padding-bottom: 0px;
}
main #meio >h2{
    max-width: 400px;
    min-width: 380px;
    margin: auto;
    font-weight: bold;
    font-size: 1.3em;
    color: var(--escuro1);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.247);
    border-radius: 50px;
    border: 2px solid var(--medio1); 
}
main #meio ul{
    margin-bottom: 20px;
}
main #meio li{
    padding: 5px;
    text-align: center;
    list-style: none;
    list-style-position: inside;
    font-size: 1.2em;
    font-weight: bolder; 
}


footer{
    min-width: 380px;
    padding: 15px;
    background-color: var(--escuro0);
}
footer p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    color: white;
}
footer strong{
    color: var(--claro0);
    font-weight: bolder;
}

@media (min-width:300px) and (max-width:496px){
    #inicio h1{
        font-size: 2em;
    }

    main #meio >h2{
        font-size: 1.2em;
    }

    main #meio li{
        font-size: 1.1em;

    }


}