@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/* variáveis:*/

:root{
    --font-titulo: sans-serif;
    --font-link: "Comfortaa", sans-serif;
    --font-apresentacao: "Nunito", sans-serif;
    --font-botoes: "Roboto", sans-serif;
}



*{
    margin: 0;
    padding: 0;
}

.cabecalho{
    position: fixed;
    width: 100%;
    padding: 1.5%;
}

.cabecalho__menu{
    display: flex;
    justify-content: space-between;
    font-family: var(--font-link);
    
}

#cabecalho__menu__nome{
    margin-left: 75px;
    text-decoration: none;
}

.cabecalho__link{
    font-size: 0.8rem;
    text-decoration: none;
    color: black;
}

.cabecalho__menu__itens{
    display: flex;
    margin-right: 135px;
    gap: 40px;
    list-style-type: none;
}


.conteudo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.conteudo__apresentacao{
    margin: 50px 0 0 94px;
    width: 560px;

}

.conteudo__apresentacao h1{
    font-family: var(--font-apresentacao);
    font-size: 1rem;
    font-weight: bolder;
    color: #FDC435;
    margin-bottom: 15px;
}

.conteudo__apresentacao__paragrafoInicial{
    font-size: 4.6rem;
    font-weight: bolder;
    text-shadow: 0px 3px 3px #FDC435; 
}

.conteudo__apresentacao__paragrafo{
    font-family: var(--font-apresentacao);
    font-size: 1.5rem;
    padding: 20px  0 40px 0;
    text-align: justify;
    color: rgb(73, 69, 69);
}

.conteudo__apresentacao__button{
    margin: 0px 20px 0px 0px;
    padding: 10px 18px;
    border: 1px solid black;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    font-family: var(--font-botoes);
    font-size: 0.8rem;
    font-weight: bold;
}

.conteudo__apresentacao__button:hover{
    border: 0;
    background: #FDC435;
}


.imagem__perfil{
    width: 44%;
}